.a2 {
    background: #fff;
    width: 100%;
    height: 1100px;
    padding: 30px;
}

.a2font {
    font-family: "華康新特圓體(P)";
    font-size: 35px;
    color: #000;
}

.cake span {
    font-family: "Arial Black";
    font-size: 28px;
    color: #E48427;
}

.蛋糕介紹 span {
   color: #5F93CF;
   font-size: 20px;
   font-family: "華康粗圓體";
}

.a2font span {
    font-family: "Arial Black";
    font-size: 25px;
    color: #E48427;
}

.分隔線 {
    background: #000;
    position: relative;
    width: 300px;
    left: 50px;
    height: 3px;
}

.蛋糕介紹 {
    float: left;
    font-size: 15px;
    color: #613F00;
    font-family: "華康粗圓體";
    vertical-align: middle;
    padding: 0px;
    text-align: center;
}

.價格1 {
    float: right;
    color: red;
    vertical-align: middle;
    padding: 0px;
    font-size: 15px;
}

.cake1 {
    vertical-align: baseline;
    padding: 0px 5%;
    float: left;
}

.尺寸 {
    float: left;
    font-size: 15px;
    vertical-align: middle;
    padding: 0px;
}

.蛋糕圖 {
    vertical-align: middle;
    float: middle;
    padding: 0px;
}

.cake {
    overflow: hidden;
    height: 800px;
    font-family: "華康新特圓體(P)";
    font-size: 40px;
    color: #000;
}

.cake img {
    transform: scale(0.9, 0.9);
    transition: all 1s ease-out;
    width: 180px;
    max-height: 180px;
}

.cake img:hover {
    transform: scale(1.2, 1.2);
    border: 1px solid #4d4d4d;
}

.cake1 img {
    float: left;
    padding: 20px;
    width: 180px;
    height: 250px;
}

.糕點 {
    overflow: hidden;
    width: 600px;
    height: 350px;
    padding: 20px 0px 0px 0px;
}

.糕點 img {
    transform: scale(0.9, 0.9);
    transition: all 1s ease-out;
}

.糕點 img:hover {
    transform: scale(1.2, 1.2);
    border: 1px solid #4d4d4d;
}

.糕點1 img {
    float: left;
    padding: 20px;
    width: 150px;
    height: 150px;
}

.糕點2 img {
    float: left;
    padding: 20px;
    width: 150px;
    height: 150px;
}

.糕點3 img {
    float: left;
    padding: 20px;
    width: 150px;
    height: 150px;
}

.title {
    background: linear-gradient(to right, #f1ae7a 0%, #ffffff 60%);
    padding: 20px 10px;
    width: 80%;
    left: 40px;
}
