.頁尾 {
    width: 100%;
    height: 320px;
    background: #333;
    overflow: hidden;
    padding-top: 25px;
}




.頁尾logo {
    padding-top: 12%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0px auto;


}


.頁尾h1 {
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 22px;
}

.聯絡我們內容 {
    
    color: white;
    font-size: 0.8em;
    font-family: 華康粗圓體;
}

.聯絡我們內容  img{
    width:45px; 
    height:45px;
  
}




.頁尾中連結 img {
       width:40px; 
    height:40px;
}
.頁尾中連結  {
   text-align: center;
}
