body {
    margin: 0px auto;
    overflow-x: hidden;
    background: url(../img/素材/背景.png) repeat;
}

html body {
    overflow-x: hidden;
    padding: 0px;
    margin: 0px auto;
}

.上線 {
    position: relative;
    opacity: 0.0;
    background: white;
    width: 150px;
    top: 100px;
    margin: 0px auto 0;
    height: 5px;
    animation-name: one;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    z-index: 12
}

@keyframes one {
    from {
        opacity: 0.0;
        width: 20px;
    }
    to {
        opacity: 1.0;
        width: 150px;
    }
}

.logo文字 {
    color: #FF0;
    font-family: "華康行書體(P)";
    font-size: 25px;
    height: 70px;
    line-height: 70px;
    top: 100px;
    margin: 0px auto 0;
    position: relative;
}

.下線 {
    opacity: 0.0;
    position: relative;
    animation-delay: 2s;
    background: white;
    width: 150px;
    top: 140px;
    margin: 0px auto 0;
    height: 5px;
    animation-name: three;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes three {
    from {
        opacity: 0.0;
        width: 20px;
    }
    to {
        opacity: 1.0;
        width: 150px;
    }
}

.框 {
    height: 650px;
    width: 100%;
    position: relative;
    background: url(../img/素材/5.jpg) no-repeat center;
    animation-name: fore;
    animation-duration: 0.0s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    background-size: cover;
}

@keyframes fore {
    0% {
        background: url(../img/素材/5.jpg) no-repeat center;
        background-size: cover;
    }
    100% {
        background: url(../img/素材/5.jpg) no-repeat center;
        background-size: cover;
    }
}

.框二 {
    height: 650px;
    width: 100%;
    position: relative;
    animation-name: fre;
    animation-duration: 2.0s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    background-size: cover;
}

@keyframes fre {
    0% {
        background: url(../img/素材/4.jpg) no-repeat center;
        background-size: cover;
    }
    100% {
        background: url(../img/素材/4.jpg) no-repeat center;
        background-size: cover;
    }
}

.英文logo文字 {
    top: -200px;
    opacity: 1.0;
    position: relative;
    font-size: 40px;
    color: white;
    font-weight: bold;
    font-family: "Monotype Corsiva";
}

.logopng {
    position: relative;
    top: 10px;
    z-index: 4;
}

.logo背景 {
    width: 100%;
    height: 200px;
    position: relative;
    top: 120px;
    animation-name: logo背景;
    animation-delay: 3.5S;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    z-index: 0;
}

@keyframes logo背景 {
    0% {
        background: none;
        opacity: 1.0
    }
    100% {
        background: rgba(255, 255, 255, 0.4);
        opacity: 1.0;
    }
}

.logopng-1 {
    position: relative;
    top: -120px;
    z-index: 6;
}
@media sceen (max-width:1500px){
    .框二 {
    height: 800px;
        .框 {
    height: 800px;
}
    }
